.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row:nth-child(3) {
  border-bottom: 3px solid #669;
}

.board-row:nth-child(6) {
  border-bottom: 3px solid #669;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.error { 
  background: #ffb8b8; 
}

.square:focus {
  outline: none;
}

.square:nth-child(3) {
  border-right: 3px solid #669;
}
.square:nth-child(6) {
  border-right: 3px solid #669;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.square-editable {
  color: #747474;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  justify-content: center;
  display: flex;
  margin-left: 20px;
}

.game-board {
  border-block-color:  black;
  border-collapse: collapse;
  background-color:  #FFFFFF;
  border:  #669 solid 2px;
  /* margin-left: 12px;
  margin-right: 4px; */
}

.game-board > div {
  margin-right: 1px;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



@media (min-width: 500px){
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  .game-info {
    margin-left: 20px;
  }
  
  .game-board {
    border-block-color:  black;
    border-collapse: collapse;
    background-color:  #FFFFFF;
    border:  #669 solid 2px;
    margin-left: 12px;
    margin-right: 4px;
  }

}